.twitter_link {
  background-image: url(/assets/slides/try_ruby/twitter.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-y: -6px; 
  display: block;
  padding-left: 31px !important;
}
.accent_color {
  color: #aa6e75 !important;
}