#location.row
  .columns.small-12
    %a{name:"location"}
    %h2.nav_section.columns.small-12{:'data-magellan-destination'=>"location"}Location
    .row
      .columns.small-12.large-5.large-offset-1.medium-6
        %iframe{src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3457.128613202553!2d-90.06891399999999!3d29.946979000000002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x715cbe73e62c0563!2siSeatz!5e0!3m2!1sen!2sus!4v1410896524842", width: "400", height: "300", frameborder: "0", style: "border:0"}
      .columns.small-11.small-offset-1.large-5.large-offset-1.medium-5
        %h4
          iSeatz
        %h5
          643 Magazine St #100
        %h5
          New Orleans, LA 70130