#schedule.row
  .columns.small-10
    %a{name:"schedule"}
    %h2.nav_section.columns.small-12{:'data-magellan-destination'=>"schedule"}Schedule

    %h3.subheader
      Friday, February 19
    .row
      .columns.small-5.large-offset-3.large-1.medium-offset-3.medium-1
        .label.secondary
          8:00pm - 9:00pm
      .columns.small-6.large-6.medium-6
        .row
          %h4 Installation Party
        .row
          %h6 Get to know the attendees a little bit before hand. Bring your laptop if you can and we'll work through installing whatever is needed for you.
    %h3.subheader
      Saturday, February 20
    .row
      .columns.small-5.large-offset-3.large-1.medium-offset-3.medium-1
        .label.secondary
          9:30am - 10:00am
      .columns.small-6.large-6.medium-6
        .row
          %h4 Doors Open
        .row
          %h6 Get ready and handle any last minute issues for the workshop.
    .row
      .columns.small-5.large-offset-3.large-1.medium-offset-3.medium-1
        .label.secondary
          10:00am - 10:30am
      .columns.small-6.large-6.medium-6
        .row
          %h4 Welcome
        .row
          %h6 Outline of the day, review Rails, &amp; create teams.
    .row
      .columns.small-5.large-offset-3.large-1.medium-offset-3.medium-1
        .label.secondary
          10:30am - 11:30am
      .columns.small-6.large-6.medium-6
        .row
          %h4 Learning Git + Bio Break
        -#.row
          %h6
    .row
      .columns.small-5.large-offset-3.large-1.medium-offset-3.medium-1
        .label.secondary
          11:40am - 12:30pm
      .columns.small-6.large-6.medium-6
        .row
          %h4 Ruby Warrior
        .row
          %h6 Let's get coding as a Team with Git!
    .row
      .columns.small-5.large-offset-3.large-1.medium-offset-3.medium-1
        .label.secondary
          12:30pm - 1:15pm
      .columns.small-6.large-6.medium-6
        .row
          %h4 Lunch
        -#.row
          %h6
    .row
      .columns.small-5.large-offset-3.large-1.medium-offset-3.medium-1
        .label.secondary
          1:15pm - 1:30pm
      .columns.small-6.large-6.medium-6
        .row
          %h4 Review Ruby Warrior Teams - Pick Winning Team
        .row
          %h6 Show which team won and let them explain their strategy.
    .row
      .columns.small-5.large-offset-3.large-1.medium-offset-3.medium-1
        .label.secondary
          1:30pm - 1:45pm
      .columns.small-6.large-6.medium-6
        .row
          %h4 Review Ruby, introduce JavaScript
        .row
          %h6 Get to know where this all fits in Rails and more
    .row
      .columns.small-5.large-offset-3.large-1.medium-offset-3.medium-1
        .label.secondary
          1:45pm - 2:45pm
      .columns.small-6.large-6.medium-6
        .row
          %h4 Code Combat + Bio Break
        .row
          %h6 Start learning javascript.
    .row
      .columns.small-5.large-offset-3.large-1.medium-offset-3.medium-1
        .label.secondary
          3:00pm - 3:30pm
      .columns.small-6.large-6.medium-6
        .row
          %h4 Review JavaScript, introduce CoffeeScript, introduce Hubot
        .row
          %h6 Get to know where this all fits in Rails and more
    .row
      .columns.small-5.large-offset-3.large-1.medium-offset-3.medium-1
        .label.secondary
          3:30pm - 4:30pm
      .columns.small-6.large-6.medium-6
        .row
          %h4 CoffeeScript your Hubot
        .row
          %h6 As a team, use Git to add fun features to your Hubot in chat
    .row
      .columns.small-5.large-offset-3.large-1.medium-offset-3.medium-1
        .label.secondary
          4:30pm - 5:00pm
      .columns.small-6.large-6.medium-6
        .row
          %h4 OpenSource needs you as much as you need it!
        .row
          %h6 What has OS done lately? What can it do?
    .row
      .columns.small-5.large-offset-3.large-1.medium-offset-3.medium-1
        .label.secondary
          5:00pm - 5:30pm
      .columns.small-6.large-6.medium-6
        .row
          %h4 Show and Tell
        .row
          %h6 Everyone shows their HuBots, the coaches vote on who wins.
    .row
      .columns.small-5.large-offset-3.large-1.medium-offset-3.medium-1
        .label.secondary
          6:00pm
      .columns.small-6.large-6.medium-6
        .row
          %h4 Party!
        .row
          %h6 Paid by Grok &amp; Banter
