= render "shared/navigation"

.row
  .columns.small-12.large-12
    %a{name:"graduates"}
    %h2.nav_section.columns.small-12{:'data-magellan-destination'=>"graduates"} Rails Girls NOLA Graduates
  .columns.small-12.large-12
    .panel
      %h3.subheader
        February 2014 Graduates
        %ul
          %li Sami DeVille
          %li Aaron Matys
          %li Elizabeth Wotawa
          %li Anabelle Franz
          %li Federico Lertora
          %li Alicia Steadman
          %li Deborah Anderson
          %li Adele Tiblier
          %li Jenny Velasquez
          %li Carrington Roaf
          %li Natasha Salas
          %li Alba Huddleston
          %li Libby Favrot
          %li Danielle Tanguis
          %li Michelle calabro
          %li Tanvi Shah
          %li Vachelle Manly
          %li Julia Ballard
          %li Tiffany Carlos
  .columns.small-12.large-12
    .panel
      %h3.subheader
        September 2014 Graduates
        %ul
          %li Jacqui Nelson
          %li Seema Gai
          %li Lindsay Fox
          %li Jacqui Nelson
          %li Chloe Frank
          %li Natasha Joseph

