= render "shared/navigation"

.row
  .columns.small-12.large-12
    %a{name:"graduates"}
    %h2.nav_section.columns.small-12{:'data-magellan-destination'=>"graduates"} Rails Girls NOLA Graduates
  .columns.small-12.large-12
    .panel
      %h3.subheader
        February 2014 Graduates
        %ul
          %li Sami DeVille
          %li Aaron Matys
          %li Elizabeth Wotawa
          %li Anabelle Franz
          %li Federico Lertora
          %li Alicia Steadman
          %li Deborah Anderson
          %li Adele Tiblier
          %li Jenny Velasquez
          %li Carrington Roaf
          %li Natasha Salas
          %li Alba Huddleston
          %li Libby Favrot
          %li Danielle Tanguis
          %li Michelle Calabro
          %li Tanvi Shah
          %li Vachelle Manly
          %li Julia Ballard
          %li Jaelle Scheuerman
          %li Tiffany Carlos

  .columns.small-12.large-12
    .panel
      %h3.subheader
        September 2014 Graduates
        %ul
          %li
            Jacqui Nelson
            = link_to "@SpaceOtterInSpace", 'https://github.com/SpaceOtterInSpace'
          %li Sara Hudson
          %li
            %a{"href" => "https://plus.google.com/u/0/117454879790042452972/about"}Laura Edington
          %li
            %a{"href" => "http://www.jlcreations.com"}Jaelle Scheuerman
          %li
            %a{"href" => "https://www.linkedin.com/in/genachattin"}Gena Chattin
          %li
            %a{"href" => "https://twitter.com/smalicegreen"}Alice Green
          %li Seema Gai
          %li
            %a{"href" => "https://www.linkedin.com/pub/lindsay-fox/6/542/594/"}Lindsay Fox
          %li
            %a{"href" => "www.linkedin.com/pub/chloe-frank/30/92a/226/"}Chloe Frank
          %li Natasha Joseph
          %li
            %a{href => "http://www.sierrabintliff.com"}Sierra Bintliff
          %li
            %a{href => "http://www.kallistia.com", :title => "Kallistia Giermek"}Kallistia Giermek
          %li Annie Matthews
          %li Tiffany Carlos
          %li Angelica Valenta
