.row.top_logo
  .columns.small-10.medium-8.large-6.small-centered
    = image_tag 'Logo.png'
.row
  .columns.small-centered.small-12
    Schedule
    %br
    Are you a girl who wants to learn?
    = link_to 'Apply Here', 'https://docs.google.com/forms/d/1U3Xp9ZDRwVs-RABN7WGWbMU_rLFYzawZoy8sJ6Z3VCs/viewform'
    %br
    Interested in being a coach?
    = link_to 'Apply Here', 'https://docs.google.com/forms/d/1A1F9a9UFn58xgeqFcvtPT4gBnvbGqOeGLv9_1HJhd6E/viewform'
