.row
  .columns.small-12.large-12
    %h2 Rails Girls NOLA Resources
  .columns.small-12.large-12
    .panel
      %h3.subheader
        Installs
        %ul
          %li
            = link_to "Rails Girls Machine", "https://github.com/IconoclastLabs/railsgirls_machine"
    .panel
      %h3.subheader
        Slides
        %ul
          %li
            = link_to "UX Design Workshop Slides", slides_ux_design_path
          %li  
            = link_to "Try Ruby Slides", slides_try_ruby_path
          %li  
            = link_to "Main Workshop Slides", slides_workshop_path