// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_logo{
	margin-top: 15%;
}
.nav_section{
  padding-top: 65px;
}
.railsgirls-sub-nav{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  @include sub-nav(
    // Control the color of the divider between links.
    $font-color: $primary-color,
    // Control your font-size per label.
    $font-size: rem-calc(18),
    // Change the background color for your labels
    $active-bg: red
  );
  dd{
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  }
}

#about{
  margin-top: 75%;
}
#location{
  margin-top: 5%;
}
#schedule{
  margin-top: 5%;
  //label{margin-top: 5px;}
}
